# This is intended to be used as a reusable workflow for publishing npm packages.
#
# Setup:
# 1. Check your github > settings > actions > general > allow reusable workflows
# 2. Check your github > settings > secrets > actions for NPM_TOKEN
# 3. Create a tag with format vX.X.X and push it to trigger the workflow

name: Publish to npm

on:
  workflow_dispatch:
  push:
    tags:
      - "v*"

jobs:
  call-publish:
    uses: iyulab/node-components/.github/workflows/shared-publish-npm.yml@main
    with:
      node_version: "20"
    secrets:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
